p {
    margin: 0;
    padding: 0;
}

.restaurantListContainer {
    display: flex;
    justify-content: flex-start;
    padding: 1em;

    font-size: 1.1em;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.04),
        0px 2px 1px -2px rgba(0, 0, 0, 0.01);
    margin: 0.25em;
    text-decoration: none !important;
    color: inherit;
}

.restaurantName {
    font-size: 1.5em;
    line-height: 1em;
}

.OneRestaurantContainer {
    padding: 0;
    margin: 0;
    margin-left: 2em;
}

.svgRestaurantLogo {
    width: auto;
    min-width: min-content;
}

.restaurantListContainer:hover {
    background-color: #f3f3f7;
    cursor: pointer;
}